.text {
font-size: 40%;
padding-left: 30%;
background:white;
}

 a{
        text-align: center;
        color: white;
        font-size: 20px;
        padding: 8px;
    }

    a:hover{
        color: blue;
    }
 body{
 background:skyblue;}